.poster-details-wpr {
  width: 13rem;
  height: 5.5rem;
  padding: 0.5rem;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  justify-self: end;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 1rem 1fr;
  gap: 0.5rem;
  background-color: #ddd;
  font-size: 0.7rem;
  border-radius: 3px;
}
.post__date {
  grid-column: span 2;
}
.profile__img {
  grid-row: 2 / 3;
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
}
.more-details {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
