.modal {
  background-color: hsla(0, 0%, var(--l-0), 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, var(--l-0));
}

.modal__content {
  padding: 1rem;
  max-width: 60rem;
  height: 100vh;
  overflow: auto;
  border: 3px solid #333;
  background-color: hsl(0, 0%, var(--l-100));
  color: hsl(0 0% var(--l-0));
}
